# Dependencies
node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Build files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# VS Code / OS
.vscode/
.DS_Store
Thumbs.db